# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
cv_env/

# =========================
# Trained models
# =========================
*.pth
*.pt
*.ckpt
*.onnx

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Environment variables
# =========================
.env


# =========================
# Data
# =========================
ds/v2-without-annotated/
ds/v2-110/
